@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #262526;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}

.app-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    /* Constrain the container to max 1920x934 */
    max-width: 1920px;
    max-height: 934px;
    margin: 0 auto;
    
    /* Center the container on larger screens */
    position: relative;
  }

  @layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;             /* Safari and Chrome */
  }
}
  
  /* Wrapper for screens larger than 1920x934 */
  @media (min-width: 1921px) or (min-height: 935px) {
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    
    .app-container {
      width: 1920px;
      height: 934px;
      /* Add the same border styling as app-content */
      border: 0.5px solid lightgray;
      border-radius: 12px;
      box-shadow: 0 0px 0.5px rgb(236, 236, 236);
    }
  }
  
  .app-content {
    width: 98%;
    height: 95%;
    border: 0.5px solid lightgray;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0px 0.5px rgb(236, 236, 236);
    position: relative;
    overflow-x: hidden;
  }
  